
#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}
tr.clickable:hover {
    background: grey;
    cursor:pointer;
}

td {
    padding-right:15px;
}
id#autore {
    font-size:8px;
}

p#creditos {
    padding-top: 30px;
    padding-left: 20px;
}