{% extends "base.html" %}

{% block content %}



{% for detail in movie.details %}

 <div class="page-header">
	 <h1>{{detail.name}}</h1>
 	 <p>
		 {% for link in links %}
		    <a href="{{link.url}}">{{link.name}}</a>
		 {% endfor %}
		  
 </div>
  <p>{{detail.description}}</p>
  <p>Kesto {{detail.duration}} minuuttia.</p>
  <img src="data:image/png;base64,{{detail.image}}"/>

	{% if movie.related is not empty %}  

  <h2>Naytokset</h2>
  <table>
	  <tr>
		  <th>Teatteri</th>
		  <th>Alkaa</th>
		  <th>Loppuu</th>
	  </tr>
  {% for relation in movie.related %}
          <tr class='clickable' data-href='../../timetable/{{relation.timetable_id}}/show'>
		  <td>{{ relation.name }}</td>
		  <td>{{ relation.start_at }}</td>
		  <td>{{ relation.end_at }}</td>
	  </tr>
	  
  {% else %}
  {% endfor %}
  </table>

  {% endif %}
  
  {% else %}
  Ei tietoja?! :O
  {% endfor %}




  

  


  {% endblock %}


