{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Naytokset</h1>
    {% for link in links %}
       <a href="{{link.url}}">{{link.name}}</a>
    {% endfor %}
  </div>
  <table>
	  <tr>
		  <th>Elokuva</th>
		  <th>Teatteri</th>
		  <th>Alkaa</th>
		  <th>Loppuu</th>
	  </tr>
	  
    {% for timetable in timetables %}
	  <tr class='clickable' data-href='timetable/{{timetable.id}}/show'>
		  <td>{{ timetable.movie_name }}</td>
		  <td>{{ timetable.theater_name }}</td>
		  <td>{{ timetable.start_at }}</td>
		  <td>{{ timetable.end_at }}</td>
	  </tr>
  {% else %}
  Ei naytoksia :(
  {% endfor %}
  

  
{% endblock %}
